<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Checkuser</display-name>
    <servlet-name>Checkuser</servlet-name>
    <servlet-class>pack.servlet.Checkuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Checkuser</servlet-name>
    <url-pattern>/Checkuser</url-pattern>
  </servlet-mapping>
  <display-name>Testing</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserRegister</display-name>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>pack.servlet.UserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/UserRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogIn</display-name>
    <servlet-name>UserLogIn</servlet-name>
    <servlet-class>pack.servlet.UserLogIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogIn</servlet-name>
    <url-pattern>/UserLogIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadPatientDetails</display-name>
    <servlet-name>LoadPatientDetails</servlet-name>
    <servlet-class>pack.servlet.LoadPatientDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadPatientDetails</servlet-name>
    <url-pattern>/LoadPatientDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SavePatientDetails</display-name>
    <servlet-name>SavePatientDetails</servlet-name>
    <servlet-class>pack.servlet.SavePatientDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SavePatientDetails</servlet-name>
    <url-pattern>/SavePatientDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadAllPaitentDetails</display-name>
    <servlet-name>LoadAllPaitentDetails</servlet-name>
    <servlet-class>pack.servlet.LoadAllPaitentDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadAllPaitentDetails</servlet-name>
    <url-pattern>/LoadAllPaitentDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadPatientDetailsDoctor</display-name>
    <servlet-name>LoadPatientDetailsDoctor</servlet-name>
    <servlet-class>pack.servlet.LoadPatientDetailsDoctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadPatientDetailsDoctor</servlet-name>
    <url-pattern>/LoadPatientDetailsDoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminPatientDetails</display-name>
    <servlet-name>AdminPatientDetails</servlet-name>
    <servlet-class>pack.servlet.AdminPatientDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminPatientDetails</servlet-name>
    <url-pattern>/AdminPatientDetails</url-pattern>
  </servlet-mapping>
</web-app>